<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>UberEats Assistant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="app">

<!-- Button trigger modal -->
<button type="button" v-if="!apprunning" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Start App
</button>

<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal3">
  Reset App
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reset App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Are you sure you want to reset app?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" v-on:click="resetApp">Reset App</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">
  Get Update
</button>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Start App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='datetime-local' class="form-control" id="datetimestart" name="datetimestart" v-model="datetimestart"/>
                </div>
            </div>
	      <div class="form-group">
	        	<label for="mileagestart">Enter Mileage</label>
	        	<input type="number" v-model="mileagestart" name="mileagestart" id="mileagestart" class="form-control" placeholder="Enter Mileage">
	        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" v-on:click="submitmileage" id="submitmileage" class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Get Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	      <div class="form-group">
	        	<p>Last Earned Amount: <strong>{{ lastearned }}</strong> - <button title="NOTE: Only edit the amount if you made mistake when you were getting an update." class="btn btn-sm btn-info">Edit</button></</p>
	        	<br>
	        	<label for="addTrip">Add Another Tip</label>
	        	<input type="number" v-model="addTrip" name="addTrip" id="addTrip" class="form-control" placeholder="Enter Mileage">
	        	<label for="mileageend">Enter Current Mileage</label>
	        	<input type="number" v-model="mileageend" name="mileageend" id="mileageend" class="form-control" placeholder="Enter Mileage">
	        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" v-on:click="getupdate" id="getupdate" class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>

<ul>
<li>datetimestart: {{ datetimestart }}</li>
<li>datetimeend: {{ datetimeend }}</li>
<li>minutescalculation: {{ minutescalculation }}</li>
<li>minutesworked: {{ minutesworked }}</li>
<li>mileagestart: {{ mileagestart }}</li>
<li>mileageend: {{ mileageend }}</li>
<li>milesdriven: {{ milesdriven }}</li>
<li>lastearned: {{ lastearned }}</li>
<li>earned: {{ earned }}</li>
<li>gaspergallon: {{ gaspergallon }}</li>
<li>carmpg: {{ carmpg }}</li>
<li>disiredsalery: {{ disiredsalery }}</li>
<li>yourcurrentscore: {{ yourcurrentscore }}</li>
<li>hourlyavgincome: {{ hourlyavgincome }}</li>
<li>netcurrentincome: {{ netcurrentincome }}</li>
<li>location: {{ location }}</li>
</ul>
</div><!-- end #app -->

<!-- jquery -->	
<script src="js/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.bundle.min.js"></script>

<!-- vue js -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<!-- Custom JS -->
<script src="js/scripts.js"></script>
</body>
</html>